$green        : #16A085;
h5{
  font-size: calc(0.5rem + 0.7vw);
}

.addName{
  padding-left:0 !important ;
  margin-bottom: 10px;
}

.addIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 1s cubic-bezier(0.39, 0.58, 0.57, 1);
  border: 0;
  background-color: white;
  &:hover{
    cursor: pointer;
    background-color: $icon-bg-color;
  }
  p{
    font-size: 18px;
    margin-bottom: 0;
  }
  span{
    position: relative;
    left: 5px;
  }
}
.deleteIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 1s cubic-bezier(0.39, 0.58, 0.57, 1);
  border: 0;
  background-color: white;
  &:hover{
    cursor: pointer;
    background-color: red;
  }
  p{
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 4px;
  }
  span{
    position: relative;
  }
}
.editIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 1s cubic-bezier(0.39, 0.58, 0.57, 1);
  border: 0;
  background-color: white;
  &:hover{
    cursor: pointer;
    background-color: $icon-bg-color;
  }
  p{
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 4px;
  }
  span{
    position: relative;
  }
}

.select-item{
  opacity: 0.2;
  &:hover{
    opacity: 1;
  }
  &.isSelected{
    opacity: 1;
  }
}

.button-styless{
  text-decoration: none;
  border: none;
  background: transparent;
}
.button-report{
  text-decoration: none;
  border: none;
  background-color: white;
  border-radius: 5px;
  transition: all 0.25s ease;
  margin-right: 0%;
  span,p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  &:hover{
    box-shadow: inset 0 0 0 65px $icon-bg-color;
  }

}
.profile{
  margin-top: 20px;
}

.icon-fill{
  &::before{
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 1px $green;
  }
  &:hover::before{
    box-shadow: inset 0 0 0 60px $green;
  }
}

.editsHobbies{
  width: 85% !important;
}
.editsCourses{
  width: 100% !important;
}