.label{
  color: $primary;
  display: block;
  font-size: 17px;
  left: 20px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateY(75%);
  transition-duration: .15s;
  transition-property: font-size,transform;
}

.input-container{
  background-clip: padding-box;
  background-color: #fff;
  border: 1.6px solid #423f3f80;
  border-radius: .25rem;
  box-sizing: border-box;
  display: flex;
  font-size: 17px;
  line-height: 1.41;
  padding: 15px 15px 10px 10px;
  width: 100%;
  transition-duration: .15s;
  transition-property: box-shadow;
  margin-top: 2rem;
  &:focus{
    box-shadow: 0 20px 20px 0 #0000001C;
  }
}

.input{
  border: none;
  background-color: inherit;
  width: 100%;
  &:focus{
    outline:0;
  }
}

.input-icon {
  font-size: 2rem;
  color: $primary;
  &.is-filled{
      color: $gold
  }
}


.btn-meeting{
  border-radius: 500px;
  line-height: 1;
  padding: 14.5px;
  transform: translate3d(0px,0px,0px);
  transition-duration: 33ms;
  transition-property: background-color, transform;
}

.btn-fill{
  background-color: $primary;
  border: none;
  color: #fff;
  padding: 0.7rem 21px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.3s cubic-bezier(.86,0,0,2.26);
  &:hover{
    transform: scale(1.04);
    background-color: #413e36;
    border-color: #3e3a33;
  }
}

.border-btn{
  background-color: transparent;
  color: blueviolet;
  border: solid 1px #FFFFFF;
  margin-bottom: 18px;
  &:hover{
    transform: scale(1.04);
    background-color: blueviolet;
    color: coral;
  }
}

.divider{
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(117, 117, 117);
  position: relative;
  text-align: center;
  width: 95%;
  &:before, &:after{
    border-top: 1px solid rgb(189, 189, 189);
    content: "";
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 45%;
  }
}

.form-container{
  margin-top: 2rem;
  width: 450px;
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.auth-container {
  @include make-container(var(--bs-gutter-x, 3rem));
}

.mt-z4{
  margin-top: 2rem;
}

.poppins-font{
  font-family: Poppins, serif;
}

.exo-font{
  font-family: 'Exo 2', serif;
}

// Upload profile image
input[type='file']{
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.card-item{
  --hover-transform: scale(1.04);
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.2px solid rgba(0, 0, 0, 0.1);
  isolation: isolate;
  transition: transform 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  &:hover{
    transform: var(--hover-transform)
  }
}

.card-item.request{
  --hover-transform: none;
}

.image-container{
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 7px;
  margin-left: 10px;
}

.image-top{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.card-title{
  font-weight: 700;
  color: #000000;
  overflow: hidden;
  margin-bottom: -5px;
  text-align: center;
  line-height: initial;
}

.card-tittle.horizontal{
  font-size: calc(1.5em + 1vmin);
}

.card-email{
  color: #707070;
}

.card-career{
  font-weight: 900;
  color: #707070;
  text-align: center;
  line-height: initial;
}

.card-career.horizontal{
  --font-size: calc(0.8em + 1vmin);
}

.section-container{
  flex-direction: column;
  position: relative;
  min-height: 300px;
  min-width: 100%;
  margin-bottom: 16px;
  display: flex;
}

.card-container{
  padding: 16px;
  --minimumColumnWidth: 250px;
  overflow-y: hidden;
  //grid-auto-rows: 0; //tengo que revisar para que lo separe por secciones
  grid-template-rows: 1fr;
  display: grid;
  grid-gap: 60px 50px;
  grid-template-columns: repeat(auto-fill,minmax(var(--minimumColumnWidth),1fr));
}

.card-container.horizontal{
  --minimumColumnWidth: 340px;
}

.btn-profile{
  --font-size: calc(0.8em + 1vmin);
  --hover-bck-color: #93B2C0;
  --hover-color: #444243;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: inherit;
  background-color: $primary;
  border: none;
  padding: 0.6rem 25px;
  color: #fff;
  font-size: var(--font-size);
  font-weight: 700;
  border-radius: 0 0 0.5rem  0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.3s cubic-bezier(.86,0,0,2.26);
  &:hover{
    background-color: var(--hover-bck-color);
    color: var(--hover-color)
  }
}

.btn-profile.request{
  font-size: 18px;
  width: 50%;
  border-radius: 0.5rem 0.5rem 0.5rem  0.5rem;
  --hover-bck-color: #3a3839;
  --hover-color: white;
}

.btn-cancel{
  text-decoration: none;
  cursor: pointer;
  width: 50%;
  background-color: transparent;
  border: 1px solid $gold;
  padding: 0.6rem 25px;
  color: $primary;
  font-size: 18px;
  font-weight: 700;
  border-radius: 0.5rem 0.5rem 0.5rem  0.5rem ;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.3s cubic-bezier(.86,0,0,2.26);
  &:hover{
    background-color: $gold;
    color: white
  }
}




